*{
  box-sizing: border-bos;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #0F0C08;
  color: #FAEBD7;
}

a {
  color: #F5F5F5;
  text-decoration: none;

}

.header-container {

}

.list-container {

}

.stock-card-container {

}
